name: Build Images

on:
  workflow_call:
    inputs:
      runs-on:
        description: Runner name i.e. default runner "ubuntu-24.04"
        type: string
        required: true
      platform:
        description: Platform i.e. "linux/amd64", "linux/arm64"
        type: string
        required: true
      image-name:
        description: Image name
        type: string
        required: true
      dockerfile:
        description: Dockerfile path
        type: string
        default: Dockerfile

jobs:
  build:
    name: Build Image
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Image name
        id: image_name
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ inputs.image-name }}
      - name: Build and Push by digest
        uses: Ilyes512/github-actions/build-image@1.0.7
        with:
          dockerfile: ${{ inputs.dockerfile }}
          platform: ${{ inputs.platform }}
          image-name: ${{ steps.image_name.outputs.lowercase }}
