name: Merge PHP images to manifest

on:
  workflow_call:
    inputs:
      runs-on:
        description: Runner name i.e. default runner "ubuntu-24.04"
        type: string
        required: true
      image-name:
        description: Image name
        type: string
        required: true
      title-runtime:
        description: Custom image title for runtime (overrides repository name)
        type: string
        required: false
      description-runtime:
        description: Custom image description for runtime (overrides repository description)
        type: string
        required: false
      title-builder:
        description: Custom image title for builder (overrides repository name)
        type: string
        required: false
      description-builder:
        description: Custom image description for builder (overrides repository description)
        type: string
        required: false
      title-builder_nodejs:
        description: Custom image title for builder_nodejs (overrides repository name)
        type: string
        required: false
      description-builder_nodejs:
        description: Custom image description for builder_nodejs (overrides repository description)
        type: string
        required: false


jobs:
  merge:
    name: Merge Images
    runs-on: ${{ inputs.runs-on }}
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Image name
        id: image_name
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ inputs.image-name }}
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Create Manifest (runtime)
        uses: Ilyes512/github-actions/create-manifest-for-target@1.0.11
        with:
          image-name: ${{ steps.image_name.outputs.lowercase }}
          target: runtime
          description: ${{ inputs.description-runtime }}
          title: ${{ inputs.title-runtime }}
      - name: Create Manifest (builder)
        uses: Ilyes512/github-actions/create-manifest-for-target@1.0.11
        with:
          image-name: ${{ steps.image_name.outputs.lowercase }}
          target: builder
          description: ${{ inputs.description-builder }}
          title: ${{ inputs.title-builder }}
      - name: Create Manifest (builder_nodejs)
        uses: Ilyes512/github-actions/create-manifest-for-target@1.0.11
        with:
          image-name: ${{ steps.image_name.outputs.lowercase }}
          target: builder_nodejs
          description: ${{ inputs.description-builder_nodejs }}
          title: ${{ inputs.title-builder_nodejs }}
