name: Merge images to manifest

on:
  workflow_call:
    inputs:
      runs-on:
        description: Runner name i.e. default runner "ubuntu-24.04"
        type: string
        required: true
      image-name:
        description: Image name
        type: string
        required: true
      title:
        description: Custom image title (overrides repository name)
        type: string
        required: false
      description:
        description: Custom image description (overrides repository description)
        type: string
        required: false

jobs:
  merge:
    name: Merge Images
    runs-on: ${{ inputs.runs-on }}
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Image name
        id: image_name
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ inputs.image-name }}
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Create Manifest
        uses: Ilyes512/github-actions/create-manifest@1.0.8
        with:
          image-name: ${{ steps.image_name.outputs.lowercase }}
          title: ${{ inputs.title }}
          description: ${{ inputs.description }}
